{% extends "layout.html" %}

{% block title %}
    Claims
{% endblock %}

{% block main %}

<div class="container">

  <form method="post" action="/add_claim" id="add_claim_form">

    <div class="form-group d-inline m-1">
      <input type="text" name="unit" placeholder="Container" autofocus>
     </div>

    <div class="form-group d-inline m-1">
      <input type="text" name="customer" placeholder="Customer">
    </div>

    <div class="form-group d-inline m-1">
      <input type="text" name="bl" placeholder="Bill of loading">
    </div>

    <div class="form-group d-inline m-1">
      <input type="text" name="charge" placeholder="Charge">
    </div>

    <div class="form-group d-inline m-1">
      <input type="text" name="date" placeholder="Date" value="{{date}}">
    </div>

    <div class="form-group d-inline m-1">
      <input type="text" name="damage" placeholder="Damage">
    </div>

    <div class="form-group m-1">
      <textarea type="text" name="comment" placeholder="Comments"></textarea>
    </div>

    <div class="form-group m-1">
      <select type="text" name="country">
        <option value="us">U.S.</option>
        <option value="dr">Dominican Republic</option>
        <option value="haiti">haiti</option>

      </select>
    </div>
    
    <div class="form-group m-2">
        <button class="btn btn-primary submit-button" type="submit">Submit</button>
    </div>

  </form>

</div>

{% endblock %}