{% extends "layout.html" %}

{% block title %}
    Claims
{% endblock %}

{% block main %}

<div style="margin=auto max-width:100%;" class="container-fluid overflow-auto">
	<table class="table table-bordered table-striped claims-table" style="min-width: 90%;">
		<tr class="thead-dark" classcontenteditable="false">
			<th scope="col" >Unit</th>
			<th scope="col" >Customer</th>
			<th scope="col" >Booking/BOL</th>
			<th scope="col" >Charges</th>
			<th scope="col" >Invoice</th>
			<th scope="col" >Date</th>
			<th scope="col" >Status</th>
			<th scope="col" >Attachements</th>
			<th scope="col" >Damage</th>
			<th scope="col" style="width:10%;" >Comments</th>
		</tr>

		<!-- replace the repetitive td with a loop-->
		<!-- Get rid of the div when there is no content -->
		{% for claim in claims %}
		<tr scope="row" table-id="{{ claim.id }}">

			<td class="align-baseline" meaning="unit">
				<div class="claim-cell" style="">
					{{ claim.unit }}
				</div>
			</td>

			<td class="align-baseline" meaning="customer">
				<div class="claim-cell" style="">
					{{ claim.customer }}
				</div>
			</td>
			<td class="align-baseline" meaning="bl">
				<div class="claim-cell" style="">
					{{ claim.bl }}
				</div>
			</td>
			<td class="align-baseline" meaning="charge">
				<div class="claim-cell " style="">
					{{ claim.charge }}
				</div>
			</td>
			<td class="align-baseline" meaning="invoice">
				<div class="claim-cell" style="">
					{{ claim.invoice }}
				</div>
			</td>
			<td class="align-baseline" meaning="date">
				<div class="claim-cell" style="">
					{{ claim.date }}
				</div>
			</td>
			<td class="align-baseline" meaning="status">
				<div class="claim-cell" style="">
					{{ claim.status }}
				</div>
			</td>
			<td class="align-baseline" meaning="attachements">
				<div class="claim-cell" style="">
					{{ claim.attachements }}
				</div>
			</td>
			<td class="align-baseline" meaning="damage">
				<div class="claim-cell" style="">
					{{ claim.damage }}
				</div>
			</td>
			<td class="align-baseline" meaning="commnet">
				<div class="claim-cell" style="">
					{{ claim.comment }}
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

{% block js %}
<script>

addListeners(document.querySelectorAll("tr"));

// add listener to all rows
function addListeners(rows) {
	let isChanged = false;
	for(let rowN in rows) {

		// don't mess with the header
		if (rowN == 0) {continue;}

		rows[rowN].addEventListener("dblclick", function() {
			editable(rows[rowN], rows, rowN);
		});

		rows[rowN].addEventListener("input", function() {
			isChanged = true;
		});

		rows[rowN].addEventListener("blur", function() {

			console.log('blur',this);
			if (isChanged == true) {

				updateDataBase(this);
				isChanged = false;
				console.log("updated?")
			}

		});

		// take away the div when the cell is empty
		for (let td of rows[rowN].children) {
			if(td.innerText.length <= 2) {
				td.removeChild(td.children[0]);
			}
		}

	}
}

// function called after a double click on a row

function editable(row, rows, rowN) {

	for(let rowN in rows) {
		rows[rowN].contentEditable = false;
		if (rows[rowN].className != undefined) {
			rows[rowN].classList.remove("editable-row");
		}
	}


	row.contentEditable = true;
	row.classList.add("editable-row");


}

function updateDataBase(row) {

	let xhttp = new XMLHttpRequest();

	xhttp.open("GET", "/update_claim/" + getRowData(row), true);
	xhttp.send();
	xhttp.onreadystatechange = function() {
		if(this.status == 200) {
			console.log(this.responseText);

		}
	};
}

function getRowData(row) {
	let data = "";

	data += "id=" + row.getAttribute("table-id") + "@@";
	//let tr = row.children;
	// get the data from the row and make an object.
	let order = ['unit', 'customer', 'bl', 'charge', 'invoice', 'date', 'status', 'attachements', 'damage', 'comment'];
	let orderI = 0;

	if(row.children.length == 10) {
		for(let td of row.children) {
			data += order[orderI] + "=";
			data += td.innerText;

			//skip putting a @@ as the last item.
			if(orderI === order.length - 1) {break;}
			data += "@@";

			orderI += 1;
		}
	} else { console.log("update the order variable with the header");}


	return data;
}

//



</script>

{% endblock %}