{% extends "layout.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" onclick="saveAll()" href="#">Save all</a></li>
<li class="nav-item"><a class="nav-link" onclick="addFile()" href="#">Add file</a></li>
{% endblock %}

{% block nav2 %}
	<li class="nav-item"><a class="nav-link" onclick="confirmClaimDelete()" href="#">Delete claim</a></li>
{% endblock %}


{% block title %}
    Claims
{% endblock %}

{% block main %}

<div style="margin:auto; max-width:100%;" class="container-fluid overflow-auto">
	<table id="main-table" class="table table-bordered table-striped claims-table" style="min-width: 90%;">
		<tr class="thead-dark" classcontenteditable="false">
			<th scope="col" >Unit</th>
			<th scope="col" >Customer</th>
			<th scope="col" >Booking/BOL</th>
			<th scope="col" >Charges</th>
			<th scope="col" >Invoice</th>
			<th scope="col" >Date</th>
			<th scope="col" >Status</th>
			<th scope="col" >Attachements</th>
			<th scope="col" >Damage</th>
			<th scope="col" style="width:10%;" >Comments</th>
		</tr>

		<!-- replace the repetitive td with a loop-->
		<!-- Get rid of the div when there is no content -->
		{% for claim in claims %}
		<tr scope="row" table-id="{{ claim.id }}">

			<td class="align-baseline" meaning="unit">
				<div class="claim-cell" style="">
					{{ claim.unit }}
				</div>
			</td>

			<td class="align-baseline" meaning="customer">
				<div class="claim-cell" style="">
					{{ claim.customer }}
				</div>
			</td>
			<td class="align-baseline" meaning="bl">
				<div class="claim-cell" style="">
					{{ claim.bl }}
				</div>
			</td>
			<td class="align-baseline" meaning="charge">
				<div class="claim-cell " style="">
					{{ claim.charge }}
				</div>
			</td>
			<td class="align-baseline" meaning="invoice">
				<div class="claim-cell" style="">
					{{ claim.invoice }}
				</div>
			</td>
			<td class="align-baseline" meaning="date">
				<div class="claim-cell" style="">
					{{ claim.date }}
				</div>
			</td>
			<td class="align-baseline" meaning="status">
				<div class="claim-cell" style="">
					{{ claim.status }}
				</div>
			</td>
			<td class="align-baseline" meaning="attachements">
				<div class="claim-cell" style="">

				<!--{{ claim.attachements }} -->
				<form action="/add_file" method="POST" enctype="multipart/form-data">
					<div class="btn-group btn-group-toggle">
						<label class="btn btn-secondary">
							<input type="file" name="claim_file" onchange="sendFileToServer(this.parentNode.parentNode.parentNode)">+
						</label>
						<label class="btn btn-secondary">
							
						</label>
					</div>
				</form>

				</div>
			</td>
			<td class="align-baseline" meaning="damage">
				<div class="claim-cell" style="">
					{{ claim.damage }}
				</div>
			</td>
			<td class="align-baseline" meaning="commnet">
				<div class="claim-cell" style="">
					{{ claim.comment }}
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}

{% block js %}
<script src="/static/claims.js"></script>
{% endblock %}


