<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="index.css">
  <title>Damage report</title>

  <style>
	a { /* Comment */ color: /* Comment */ Red; }

	table, th, td {
		border: 1px black solid;
		border-collapse: collapse;
	}

	th, td {
			padding: 1em;
	}

	th {
		background-color: darkgrey;
	}

	#heading {
		background-color:colar;
	}

	.center {
		display: flex;
		justify-content: center;
	}

  </style>

</head>

<body>

<div style ="margin-bottom: 3em" id="heading">
	<h1 style="text-align:center"> Antillean </h1>
</div>

<h2> Damage report </h3>
<hr>

<form id="claim-input">

	<input name="unit" type="text" placeholder="Unit #"> </input>

	<input name="customer" type="text" placeholder="Customer"> </input>
	<input name="booking" type="text" placeholder="Booking/BOL">	</input>
	<input name="charge" type="text" placeholder="Charge"> </input>
	<input name="invoice" type="text" placeholder="Invoice"> </input>
	<input name="date" type="date" placeholder="Date"> </input>
	<input name="attachements" type="text" placeholder="Attachements goes here" > </input>

	<!--<textarea name="" type="" placeholder="" rows=1 style="display: block;"> </textarea>-->
<div style="margin-bottom:1em">
	<select name="port">
		<option value="" selected>Current port</option>
		<option value="MIA">Miami River</option>
		<option value="HAI">Rio Haina</option>
		<option value="PTA">Puerto Plata</option>
		<option value="PAP">Port Au Prince</option>
		<option value="CAP">Cap Haitian</option>
	</select>
</div>

	<input name="create" type="submit" placeholder="Create">

</form>

<div style="height:100px; border-bottom: 1px solid black; margin: 1em;"></div>

<div style="display: flex; justify-content: center;">
	<table >
		<tr contenteditable="false">
			<th >Unit</th>
			<th>Customer</th>
			<th>Booking/BOL</th>
			<th>Charges</th>
			<th>Invoice</th>
			<th>Date</th>
			<th>Status</th>
			<th>Attachements</th>
			<th>Damage</th>
			<th>Comments</th>
		</tr>
		<tr contenteditable="true">
			<td>AMLU-455000-1</td>
			<td>John</td>
			<td>405405</td>
			<td>200</td>
			<td></td>
			<td>12/17/18</td>
			<td>Open</td>
			<td></td>
			<td>Panel cut</td>
			<td>Arrived to scale like this.</td>
		</tr>
	</table>
</div>
<!--
<ol>
	<li title="You can press the green button 'run' if you see it"> Refresh the webpage (hover me)</li>
	<li title= "This sentence has a lot of spaces in betweent some words, but the browser ignores them"> Move your mouse to the "Google" button </li>
	<li>Press the button</li>
	<li> Enjoy? </li>
</ol>

<div style="height: 100px"></div>

<a href="https://www.google.com/"> <button> GOOGLE </button> </a>
<br><br/>

<!--<img src="" alt="Confetty" Style="width:100px;height:100px;"><img/>  >



<pre>
   My Bonnie lies over the ocean.

   My Bonnie lies over the sea.

   My Bonnie lies over the ocean.

   Oh, bring back my Bonnie to me.
</pre>

-->

<script>
<script src=".js"></script>
</script>

</body>
</html>
